:root{
    --darkGreen: #171c15;
    --lightGreen: #314338;

    --lightBeige: #faf5e4;
    --regBeige: hsla(30, 82%, 66%, 1);
    
    --lightBrown: #dfb5b3;
    --regBrown: #4b2e2d;
    --darkBrown: #2d1e1e;


    //text color for sections

    --HMtext: #090606;
    --BCtext: #F6EAE9;
}

$poppins: "Poppins", sans-serif;
$libre: "Libre Baskerville", serif;
$playfair: "Playfair Display", serif;

$mb: 20px;

html{
    scroll-behavior: smooth;
    font-family: $poppins;
}

body{
    background-color: var(--lightBeige);
    height: auto;
    width: 100vw;
}

main{
    display: flex;
}

nav{
    width: 300px;
    height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 25px 20px 20px;
    position: fixed;

    .card{
        background: linear-gradient(45deg, rgb(25, 0, 255) 0%, rgb(25, 0, 255) 100%);;
        min-height: 125px;
        height: auto;
        width: 100%;
        display: flex;
        color: var(--lightBeige);
        padding: 10px;
        justify-content: space-between;
        gap: 10px;
        border-radius: 10px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover{
            color: var(--darkBrown);
            background: transparent !important;
            border: 1px solid var(--darkBrown);

            .card__index {
                border-right: 1px solid var(--darkBrown); 
            }

            svg{
                fill: var(--darkBrown);
            }

            .card__content .card__list{
                opacity: 1;
                max-height: 50px;
            }
        }

        .card__index{
            padding-right: 10px;
            border-right: 1px solid var(--lightBeige);
        }

        .card__content{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            width: 75%;

            .card__title{
                font-size: 1.2rem;
                line-height: 1.2;
                font-weight: 500;
            }

            .card__list{
                display: block;
                max-height: 0;
                opacity: 0;
                overflow: hidden;
                transition: max-height 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.2s linear;

                li{
                    font-size: 0.8rem;
                    line-height: 1.2;
                }
            }
        }
    }

    #card-home{
        background: linear-gradient(45deg, hsla(30, 34%, 49%, 1) 0%, hsla(30, 82%, 66%, 1) 100%);
    }

    #card-beginners-corner{
        background: linear-gradient(45deg, hsla(2, 25%, 24%, 1) 0%, hsla(2, 34%, 42%, 1) 100%);
    }

    #card-erfahrene-geniesser{
        background: linear-gradient(45deg, hsla(103, 14%, 10%, 1) 0%, hsla(103, 19%, 29%, 1) 100%);
    }

    #card-welt-des-kaffees{
        background: linear-gradient(45deg, hsla(143, 16%, 23%, 1) 0%, hsla(143, 23%, 39%, 1) 100%);
    }

    #card-support{
        
    }
}

/* ---------------------------------- content ----------------------------------*/

.main__wrapper{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 20px 20px 20px 320px;
}

.big__tile{
    height: auto;
    border-radius: 10px;
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.3s ease;
    margin-bottom: $mb;
    padding: 20px;

    &.show{
        opacity: 1;
        transform: translateY(0);
    }
}

.small__tile{
    height: 30px;
    width: 100%;
    border-radius: 50px;
    margin-bottom: $mb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    font-weight: 700;
}

.tile__heading{
    font-size: 5rem;
    line-height: 1;
    font-weight: 700;
}

#section-home{
    color: var(--HMtext);
    .mug__adventure{
        border: 1px solid var(--darkBrown);
        padding: 150px 20px 20px 20px;
    
        h1{
            font-size: 8rem;
            line-height: 1;
        }
    }

    .divider__MA{
        background-color: var(--regBeige);
        font-size: 1.2rem;
    }

    .home{
        background-color: var(--regBeige);
        padding: 20px 20px 300px 20px;
    }
}

#section-beginners-corner{
    color: var(--BCtext);

    .dividers{
        display: flex;
        gap: 20px;

        .divider__BC1{
            background-color: var(--regBrown);
            width: 25%;
        }

        .divider__BC2{
            background-color: var(--regBrown);
            width: 75%;
        }

    }

    .beginners__corner{
        background-color: var(--regBrown);
        display: flex;

        .bc__left{
            width: 50%;
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        .info__card{
            display: flex;
            gap: 20px;
            border-radius: 10px;
            background-color: var(--lightBeige);
            color: var(--regBrown);

            img{
                width: 175px;
                height: 175px;
                border-top-left-radius: 10px; border-bottom-left-radius: 10px;
            }

            ul{
                padding: 10px 10px 10px 0px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                li{
                    &:first-child{
                        font-weight: 700;
                        font-size: 1.2rem;
                    }
                }
            }
        }

        .text__block{
            font-size: 0.9rem;
            line-height: 1.6;
            padding-left: 30px;
            border-left: 1px solid var(--lightBeige);
            margin: 20px 0;
        }

        .highlight__card{
            list-style-type: disc;
            background-color: var(--lightBeige);
            padding: 20px;
            display: grid;
            place-content: center;
            color: var(--darkBrown);
            margin: 0px 30px;
            box-shadow: 5px 5px 0px var(--darkBrown);
        }

        .bc__right{
            width: 50%;
            display: flex;
        }
    }
    
}