:root{
    // section colors

    --homeColor: #a68a64;
    --beginnersColor: #a4ac86;
    --erfahreneColor: #656d4a;
    --weltColor: #414833;
    --shopColor: #936639;
    --profilColor: #7f4f24;
    --supportColor: #582f0e;

    //main colors
    --mainBG: #faf5e4;
    --softBlack: #23211f;

    
    --regFontSize: clamp(0.6rem, 0.8vw, 1.4rem);


}

$poppins: "Poppins", sans-serif;
$libre: "Libre Baskerville", serif;
$playfair: "Playfair Display", serif;

$mb: 20px;

html{
    scroll-behavior: smooth;
    font-family: $poppins;
}

body{
    background-color: var(--mainBG);
    height: auto;
    width: 100%;
    overflow-x: hidden;
}

main{
    display: flex;
}

nav{
    width: 300px;
    height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 25px 20px 20px;
    position: fixed;

    &::-webkit-scrollbar{
        display: none;
    }

    .card{
        width: 100%;
        display: flex;
        color: var(--mainBG);
        padding: 10px;
        justify-content: space-between;
        gap: 10px;
        border-radius: 10px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
        transition: all 0.3s ease;
        min-height: 150px;
        height: auto;

        &:hover{
            color: var(--softBlack);
            background: transparent !important;
            border: 1px solid var(--softBlack);

            .card__index {
                border-right: 1px solid var(--softBlack); 
            }

            svg{
                fill: var(--softBlack);
            }

            .card__content .card__list{
                opacity: 1;
                max-height: 100px; 
            }
        }

        svg{
            cursor: pointer;
        }

        .card__index{
            padding-right: 10px;
            border-right: 1px solid var(--mainBG);
        }

        .card__content{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            width: 75%;

            .card__title{
                font-size: 1.2rem;
                line-height: 1.2;
                font-weight: 500;
            }

            .card__list{
                max-height: 0;
                opacity: 0;
                overflow: hidden;
                transition: max-height 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.2s linear;

                li, a{
                    font-size: 0.8rem;
                    line-height: 1.2;
                    
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    #card-home{
        background-color: var(--homeColor);
    }

    #card-beginners-corner{
        background-color: var(--beginnersColor);
    }

    #card-erfahrene-geniesser{
        background-color: var(--erfahreneColor);
    }

    #card-welt-des-kaffees{
        background-color: var(--weltColor);
    }

    #card-shop{
        background-color: var(--shopColor);
    }

    #card-profil{
        background-color: var(--profilColor);
    }

    #card-support{
        background-color: var(--supportColor);
    }
}

/* ---------------------------------- content ----------------------------------*/

.main__wrapper{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 20px 20px 20px 320px;
    overflow: hidden;
}

.big__tile{
    height: auto;
    border-radius: 10px;
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.3s ease;
    margin-bottom: $mb;
    padding: 20px;

    &.show{
        opacity: 1;
        transform: translateY(0);
    }
}

.small__tile{
    height: 30px;
    width: 100%;
    border-radius: 50px;
    margin-bottom: $mb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    font-weight: 600;
    font-size: clamp(0.6rem, 0.8vw, 1.2rem);
}

.tile__heading{
    font-size: 5rem;
    line-height: 1.1;
    font-weight: 700;
    margin-bottom: 10px;
}

.tile__subheading{
    font-size: 1rem;
    font-weight: 400;
}

#section-home{
    color: var(--softBlack);
    .mug__adventure{
        border: 1px solid var(--mainBG);
        color: var(--mainBG);
        padding: 450px 20px 20px 20px;
        position: relative;

        h1{
            font-size: 5rem;
            line-height: 1;
        }

        p{
            width: 80%;
            font-size: 1.2rem;
            line-height: 1.2;
        }

        .video__wrapper{
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            z-index: -1;

            video{
                object-fit: cover;
                width: 100%;
                height: 100%;
                border-radius: 10px;
            }
        }
    }

    .divider__MA{
        background-color: var(--homeColor);
        color: var(--mainBG);
    }

    .home{
        background-color: var(--homeColor);
        color: var(--mainBG);
    }
}

#section-beginners-corner{
    color: var(--mainBG);

    .dividers{
        display: flex;
        gap: 20px;

        .divider__BC1{
            background-color: var(--beginnersColor);
            width: 25%;
        }

        .divider__BC2{
            background-color: var(--beginnersColor);
            width: 75%;
        }

    }

    .beginners__corner{
        background-color: var(--beginnersColor);
        display: flex;
    }

    .tipps{
        background-color: var(--beginnersColor);
        display: flex;
        flex-direction: column;
        
        .tile__heading, .tile__subheading{
            text-align: center;
        }
    }

    .glossar{
        display: flex;
        flex-direction: column; 
        color: var(--softBlack);
        border: 1px solid var(--softBlack);


        .tile__heading, .tile__subheading{
            text-align: center;
        }

        .glossar__list{
            width: 100%;
            max-height: 350px;
            display: flex;
            flex-direction: column;
            margin-top: 40px;
            overflow-y: scroll;

            .glossar__item{
                display: flex;
                align-items: center;
                margin-bottom: 80px;
                height: 350px;

                &:last-child{
                    margin-bottom: 0;
                }

                ul{
                    display: flex;
                    flex-direction: column;
                    width: 100%;

                    .heading{
                        font-size: clamp(1rem, 2vw, 2rem);
                    }
                }

                .img__wrapper{
                    height: auto;
                    width: 500px;
                    padding-right: 40px;
                    border-right: 3px solid var(--mainBG);
                    
                    img{
                        height: 100%;
                        width: 100%;
                        border-radius: 10px;
                    }
                }

                ul{
                    padding-left: 40px;
                }
                
            }
        }
    }
}

#section-shop{
    color: var(--softBlack);
    
    .divider__shop{
        background-color: var(--shopColor);
        color: var(--mainBG);
    }

    .reg__tile{
        width: 33.333%;
        border: 1px solid var(--softBlack);
        border-radius: 10px;
        padding: 20px;
        height: 600px;
        display: flex;
        flex-direction: column;

        .buy__btn{
                display: grid;
                place-content: center;
                width: 100%;
                background-color: var(--softBlack);
                padding: 10px 20px;
                border-radius: 50px;
                cursor: pointer;
                border: 1px solid transparent;
                transition: all 0.3s ease;
                margin-top: $mb;

                svg{
                    fill: var(--mainBG);
                }

                &:hover{
                    background-color: var(--mainBG);
                    border: 1px solid var(--softBlack);

                    svg{
                        fill: var(--softBlack);
                    }
                }
            }
    }

    .empfehlungen{
        display: flex;
        gap: 20px;
        margin-bottom: $mb;

        .empfehlungen__content{
            margin: auto;
            display: flex;
            flex-direction: column;
            height: 475px;

            &:hover{
                .description{
                    max-height: 100px;
                    opacity: 1;
                }

                .item{
                    height: 300px;
                }

                .item img{
                    transform: scale(0.7);
                }
            }

            .item{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 400px;
                transition: all 0.3s ease;

                img{
                    width: 80%;
                    height: auto;
                    object-fit: contain;
                    transition: all 0.3s ease;
                }
            }

            .subheader{
                font-weight: 300;
                font-size: 0.8rem;
                transition: all 0.3s ease;
            }

            .header__content{
                display: flex;
                justify-content: space-between;
                font-size: 1.4rem;
                border-bottom: 1px solid var(--softBlack);
                margin-bottom: 10px;
                transition: all 0.3s ease;

                .header{
                    font-weight: 700;
                }
            }

            .rating{
                display: flex;
                transition: all 0.3s ease;

                svg{
                    width: 20px;
                    height: 20px;
                }
            }
            

            .description{
                font-size: var(--regFontSize);
                opacity: 0;
                max-height: 0;
                overflow: hidden;
                display: flex;
                transition: all 0.3s ease;
            }
        }
    }

    .shop{
        display: flex;
        gap: 20px;
        width: auto;
        overflow-x: scroll;
        overflow-y: hidden;
        scroll-behavior: smooth;
        scrollbar-width: none;

        .shop__card{
            border: 1px solid var(--softBlack);
            border-radius: 10px;
            padding: 100px 40px 40px 40px;
            display: flex;
            flex-direction: column;
            height: 85vh;
            width: 75vw;
            flex-shrink: 0;
            position: relative;

            .categories__wrapper{
                width: 100%;
                display: flex;
                gap: 20px;
                justify-content: center;
                margin-bottom: $mb;
                position: absolute;
                top: 20px;
                left: 50%;
                transform: translateX(-50%);


                .categorie__item{
                    padding: 10px 30px;
                    border-radius: 50px;
                    border: 1px solid var(--softBlack);
                    color: var(--softBlack);
                    font-size: 0.9rem;
                    cursor: pointer;
                }

                .active{
                    background-color: var(--softBlack);
                    color: var(--mainBG);
                }
            }

            .card__content{
                display: flex;
                justify-content: space-between;
                flex: 1 1 auto;

                .coffee__info{
                    display: flex;
                    flex-direction: column;
                    width: 25%;
                    flex: 1 1 auto;

                    .header{
                        font-weight: 700;
                        font-size: 3rem;
                        line-height: 1;
                    }

                    .ingredients__header{
                        margin-top: auto;
                        border-bottom: 1px solid var(--softBlack);
                        padding-bottom: 5px;
                        margin-bottom: 10px;
                    }

                    .ingredients{
                        font-size: 0.9rem;
                        margin-bottom: $mb;
                    }

                    .allergies__info{
                        display: flex;
                        gap: 10px;
                        justify-content: center;
                        font-size: 0.9rem;

                        svg{
                            fill: var(--softBlack);
                            width: 20px;
                            height: 20px;
                        }
                    }
                }

                .price{
                    width: 50%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    align-items: center;
                    justify-content: flex-end;
                    font-weight: 700;
                    font-size: 2rem;
                    line-height: 1;
                    .vat{
                        font-size: 0.8rem;
                        font-weight: normal;
                    }
                }

                .cart{
                    display: flex;
                    width: 25%;
                    flex-direction: column;
                    gap: 10px;
                    align-items: center;
                    justify-content: flex-end;

                    .amount__btns{
                        display: flex;
                        justify-content: center;
                        width: 100%;
                        gap: 10px;

                        .amount__btn{
                            border: 1px solid var(--softBlack);
                            color: var(--softBlack);
                            width: 45px;
                            height: 45px;
                            border-radius: 50px;
                            padding: 20px;
                            display: grid;
                            place-content: center;
                            cursor: pointer;
                        }

                        .active{
                            background-color: var(--softBlack);
                            color: var(--mainBG);
                        }

                        .amount__btn_custom{
                            border: 1px solid var(--softBlack);
                            color: var(--softBlack);
                            border-radius: 50px;
                            padding: 0px 20px;
                            display: flex;
                            align-items: center;
                            width: 100%;
                            height: 45px;
                            appearance: none;
                            background-color: transparent;
                            
                        }
                    }

                    .cart__btn{
                            display: grid;
                            place-content: center;
                            padding: 10px 20px;
                            width: 100%;
                            height: auto;
                            background-color: var(--softBlack);
                            border-radius: 50px;
                            border: 1px solid var(--softBlack);
                            cursor: pointer;
                            transition: all 0.3s ease;

                            &:hover{
                                background-color: var(--mainBG);

                                svg{
                                    fill: var(--softBlack);
                                }

                            }

                            svg{
                                fill: var(--mainBG);
                            }
                        }
              
                }

            }

            .next__btn, .prev__btn{
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    cursor: pointer;

                    svg{
                        width: 40px;
                        height: 40px;
                         fill: var(--softBlack);
                    }
            }

            .next__btn{
                    right: 20px;
            }

            .prev__btn{
                    left: 20px;
            }

            .next_item__btn{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 30%;
                cursor: pointer;
                z-index: 999;
            }

            .prev_item__btn{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 30%;
                cursor: pointer;
                z-index: 999;
            }

            .item__display{
                position: absolute;
                top: 0;
                left: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                z-index: -1;

                img{
                    object-fit: contain;
                    width: 30vw;
                    height: auto;
                }
            }
        }
    }
}

#section-kundenservice{
    color: var(--mainBG);
    
    .divider__KS{
        margin-top: $mb;
        background-color: var(--supportColor);
        width: 100%;
    }

    .support{
        background-color: var(--supportColor);
    }

    .faq{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        justify-content: center; align-items: center;
        color: var(--softBlack);
        border: 1px solid var(--softBlack);
        font-size: clamp(1rem, 0.9vw, 1.4rem);

        .faq__item{
            display: flex;
            flex-direction: column;
            justify-content: center; align-items: center;
            padding: 10px;
            width: 100%;

            .heading{
                font-size: clamp(1rem, 2vw, 3rem);
                font-weight: 700;
            }

            .faq__question{
                width: 100%;
                display: flex;
                justify-content: space-between;
                font-weight: 500;
                cursor: pointer;

                img{
                    width: 25px;
                    height: auto;
                }
            }

            .faq__answer{
                width: 100%;
                max-height: 0;
                opacity: 0;
                font-weight: 300;
                overflow: hidden;
                transition: all 0.3s ease;
                padding-right: 30%;
                margin-bottom: 20px;

                &.active{
                    opacity: 1;
                    max-height: 75px;
                }
            }
        }
    }
}
