:root {
  --darkGreen: #171c15;
  --lightGreen: #314338;
  --lightBeige: #faf5e4;
  --regBeige: hsla(30, 82%, 66%, 1);
  --lightBrown: #dfb5b3;
  --regBrown: #4b2e2d;
  --darkBrown: #2d1e1e;
  --HMtext: #090606;
  --BCtext: #F6EAE9;
}

html {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--lightBeige);
  height: auto;
  width: 100vw;
}

main {
  display: flex;
}

nav {
  width: 300px;
  height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 25px 20px 20px;
  position: fixed;
}
nav .card {
  background: linear-gradient(45deg, rgb(25, 0, 255) 0%, rgb(25, 0, 255) 100%);
  width: 100%;
  display: flex;
  color: var(--lightBeige);
  padding: 10px;
  justify-content: space-between;
  gap: 10px;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.3s ease;
  min-height: 150px;
  height: auto;
}
nav .card:hover {
  color: var(--darkBrown);
  background: transparent !important;
  border: 1px solid var(--darkBrown);
}
nav .card:hover .card__index {
  border-right: 1px solid var(--darkBrown);
}
nav .card:hover svg {
  fill: var(--darkBrown);
}
nav .card:hover .card__content .card__list {
  opacity: 1;
  max-height: 100px;
}
nav .card .card__index {
  padding-right: 10px;
  border-right: 1px solid var(--lightBeige);
}
nav .card .card__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 75%;
}
nav .card .card__content .card__title {
  font-size: 1.2rem;
  line-height: 1.2;
  font-weight: 500;
}
nav .card .card__content .card__list {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.2s linear;
}
nav .card .card__content .card__list li {
  font-size: 0.8rem;
  line-height: 1.2;
}
nav #card-home {
  background: linear-gradient(45deg, hsl(30, 34%, 49%) 0%, hsl(30, 82%, 66%) 100%);
}
nav #card-beginners-corner {
  background: linear-gradient(45deg, hsl(2, 25%, 24%) 0%, hsl(2, 34%, 42%) 100%);
}
nav #card-erfahrene-geniesser {
  background: linear-gradient(45deg, hsl(103, 14%, 10%) 0%, hsl(103, 19%, 29%) 100%);
}
nav #card-welt-des-kaffees {
  background: linear-gradient(45deg, hsl(143, 16%, 23%) 0%, hsl(143, 23%, 39%) 100%);
}
/* ---------------------------------- content ----------------------------------*/
.main__wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 20px 20px 20px 320px;
  overflow: hidden;
}

.big__tile {
  height: auto;
  border-radius: 10px;
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.3s ease;
  margin-bottom: 20px;
  padding: 20px;
}
.big__tile.show {
  opacity: 1;
  transform: translateY(0);
}

.small__tile {
  height: 30px;
  width: 100%;
  border-radius: 50px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  font-weight: 700;
}

.tile__heading {
  font-size: 5rem;
  line-height: 1;
  font-weight: 700;
}

#section-home {
  color: var(--HMtext);
}
#section-home .mug__adventure {
  border: 1px solid var(--darkBrown);
  padding: 150px 20px 20px 20px;
}
#section-home .mug__adventure h1 {
  font-size: 8rem;
  line-height: 1;
}
#section-home .divider__MA {
  background-color: var(--regBeige);
  font-size: 1.2rem;
}
#section-home .home {
  background-color: var(--regBeige);
  padding: 20px 20px 300px 20px;
}

#section-beginners-corner {
  color: var(--BCtext);
}
#section-beginners-corner .dividers {
  display: flex;
  gap: 20px;
}
#section-beginners-corner .dividers .divider__BC1 {
  background-color: var(--regBrown);
  width: 25%;
}
#section-beginners-corner .dividers .divider__BC2 {
  background-color: var(--regBrown);
  width: 75%;
}
#section-beginners-corner .beginners__corner {
  background-color: var(--regBrown);
  display: flex;
}
#section-beginners-corner .beginners__corner .bc__left {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#section-beginners-corner .beginners__corner .info__card {
  display: flex;
  gap: 20px;
  border-radius: 10px;
  background-color: var(--lightBeige);
  color: var(--regBrown);
}
#section-beginners-corner .beginners__corner .info__card img {
  width: 175px;
  height: 175px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
#section-beginners-corner .beginners__corner .info__card ul {
  padding: 10px 10px 10px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#section-beginners-corner .beginners__corner .info__card ul li:first-child {
  font-weight: 700;
  font-size: 1.2rem;
}
#section-beginners-corner .beginners__corner .text__block {
  font-size: 0.9rem;
  line-height: 1.6;
  padding-left: 30px;
  border-left: 1px solid var(--lightBeige);
  margin: 20px 0;
}
#section-beginners-corner .beginners__corner .highlight__card {
  list-style-type: disc;
  background-color: var(--lightBeige);
  padding: 20px;
  display: grid;
  place-content: center;
  color: var(--darkBrown);
  margin: 0px 30px;
  box-shadow: 5px 5px 0px var(--darkBrown);
}
#section-beginners-corner .beginners__corner .bc__right {
  width: 50%;
  display: flex;
}

#section-shop {
  color: var(--darkBrown);
}
#section-shop .divider__shop {
  background-color: blue;
  color: var(--lightBeige);
}
#section-shop .reg__tile {
  width: 33.333%;
  border: 1px solid var(--darkBrown);
  border-radius: 10px;
  padding: 20px;
}
#section-shop .empfehlungen {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}
#section-shop .empfehlungen .empfehlungen__content {
  margin: auto;
}
#section-shop .empfehlungen .empfehlungen__content .item {
  display: grid;
  place-content: center;
}
#section-shop .empfehlungen .empfehlungen__content .subheader {
  font-weight: 300;
  font-size: 0.8rem;
}
#section-shop .empfehlungen .empfehlungen__content .header__content {
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  border-bottom: 1px solid var(--darkBrown);
  margin-bottom: 10px;
}
#section-shop .empfehlungen .empfehlungen__content .header__content .header {
  font-weight: 700;
}
#section-shop .empfehlungen .empfehlungen__content .rating {
  display: flex;
  margin-bottom: 20px;
}
#section-shop .empfehlungen .empfehlungen__content .rating svg {
  width: 20px;
  height: 20px;
}
#section-shop .empfehlungen .empfehlungen__content .buy__btn {
  display: grid;
  place-content: center;
  width: 100%;
  background-color: black;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
}
#section-shop .shop {
  display: flex;
  gap: 20px;
  width: 100vw;
  overflow-x: scroll;
}
#section-shop .shop .shop__card {
  border: 1px solid var(--darkBrown);
  border-radius: 10px;
  padding: 20px;
  height: auto;
  width: 70%;
  flex-shrink: 0;
}/*# sourceMappingURL=styles.css.map */