@media(max-width:599px){
    $mb: 10px !important;

    .mute-button{
        width: 45px;
        height: 45px;

        bottom: 5vh;
        right: 30px;
    }
    nav{
        left: -80vw;
        top: 0;
        width: 80vw;
        z-index: 10000000;
        background-color: var(--mainBG);
        padding: 10px;
        gap: 10px;
        transition: all 0.3s ease;

        &.active{
            left: 0;
        }

        .card{
            min-height: 125px;
        }


        .card__index{
            font-size: clamp(0.8rem, 1vw, 1.2rem);
        }

        .card__content{
            .card__title{
                font-size: clamp(1rem, 1.4vw, 1.5rem) !important;
            }

            .card__list{
                max-height: 100px !important;
                opacity: 1 !important;
                overflow: visible !important;
                color: var(--mainBG) !important;
                padding-top: 5px;

                font-size: clamp(0.8rem, 1vw, 1.2rem) !important;
            }
        }
    }

    .main__wrapper{
        margin: 80px 10px 10px 10px;
    }

    #mobile-nav{
        max-height: 70px;
        visibility: visible;
        overflow: visible;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100000;
        background-color: var(--mainBG);
        width: 100%;
        height: 70px;

        .nav-wrapper{
            padding: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .hamburger-btn-open{
                display: block;

                svg{
                    fill: var(--softBlack);
                }

                &.active{
                    display: none;
                }
            }

            .hamburger-btn-close{
                display: none;

                svg{
                    fill: var(--softBlack);
                }

                &.active{
                    display: block;
                }
            }

            .logo{
                width: 50px;
                height: auto;
                display: flex;
                gap: 10px;

                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    .dividers{
        gap: 10px;
    }

    .big__tile{
        margin-bottom: 10px !important;
        padding: 10px;
    }

    .small__tile{
        margin-bottom: 10px;
        padding: 0 15px;
    }

    .reg__tile{
        width: 100%;
        padding: 10px;
    }

    .tile__heading{
        line-height: 1.2;
    }

    #section-home{
        .mug__adventure{
            padding: 35vh 10px 10px 10px;

            p{
                width: 100%;
            }
        }
    }

    #section-beginners-corner{
        .divider__BC1, .divider__BC2{
            width: 50%;
        } 

        .divider__BC2 span{
            visibility: hidden;
        }

        .tipps{
            .tipps__hero{
                height: 200px;
            }
        }

        .tipps__collection{
            flex-direction: column;
            gap: 10px;
            margin-bottom: 10px;

            .tipps__collection_card{
                padding: 10px;
                width: 100%;

                .tipps__content{
                    margin-top: 10px;
                    padding: 0;
                }

                .img__wrapper{
                    width: 100%;
                    height: auto;

                    img{
                        border-radius: 10px;
                        object-fit: contain;
                        height: 150px;
                    }
                }
            }
        }

        .glossar{
            .glossar__list{
                .glossar__item{
                    flex-direction: column;
                    height: auto;
                    margin-bottom: 50px;

                    .img__wrapper{
                        width: auto;
                        height: 25vh;
                        padding-right: 0;

                        img{
                            object-fit: contain !important;
                        }
                    }

                    ul{
                        padding-left: 0;
                    }
                }
            }
        }
    }

    #section-erfahrene-geniesser{
        .divider__EG1{
            width: 100%;
        }

        .divider__EG2{
            width: 0%;
            display: none;
        }

        .expertentipps__list{
            gap: 10px;
            display: flex;
            width: 100%;
            overflow-x: scroll;
            flex-wrap: nowrap;

            .expertentipps__card{
                width: 80%;
                flex-shrink: 0;

                .content{
                    .text{
                        height: 30vh;
                        padding: 10px 10px 10vh 10px;
                    }

                    .preview__heading{
                        padding: 0 10px;
                        text-align: center;
                    }
                }

                .heading{
                    padding: 20px 0;
                }
            }
        }
    }

    #section-welt-des-kaffees{
        .divider__WDK1{
            width: 100%;
        }

        .divider__WDK2{
            width: 0%;
            display: none;
        }

        .weltkarte{
            padding: 10px;
            border: 1px solid var(--softBlack);
        }

        .weltkarte_wrapper{
            padding-bottom: 205px;

            .one{
                top: 18%;
                left: 20%;
            }

            .two{
                top: 24%;
                left: 25%;
            }

            .three{
               top: 16%; 
               left: 49%;
            }

            .four{
                top: 13%;
                left: 71%;
            }

            .five{
                left: 75%;
                top: 19%;
            }

            .description{
                width: 100%;
                height: 195px;
                padding: 10px;

                &.kolumbien, &.brasilien, &.kenia, &.vietnam, &.indonesien{
                    top: 45%;
                    left: 0%;
                }
            }
        }

        .steps{
            display: none;
            max-height: none;
            opacity: 0;
        }

        .steps_mobile{
            opacity: 1;
            display: flex;
            height: auto;
            max-height: fit-content;
            border: 1px solid var(--softBlack);

            .wrapper{
                position: relative;
                width: 100%;

                .description{
                    background-color: var(--weltColor);
                    color: var(--mainBG);
                    position: absolute;
                    width: 82.5vw;
                    height: 34vw;
                    z-index: 10;
                    padding: 10px;
                    border-radius: 10px;

                    .heading{
                        font-size: var(--regFontSize);
                        font-weight: 700;
                        text-align: center;
                    }

                    .text{
                        font-size: clamp(0.55rem, 0.5vw, 1.2rem);
                    }
                }

                .anbau{
                    top: 1%;
                    left: 4%;
                }

                .aufbereitung{
                    left: 4%;
                    top: 15.625%;
                }

                .weiterverarbeitung{
                    left: 4%;
                    top: 30.25%;
                }

                .export{
                    left: 4%;
                    top: 44.875%;
                }

                .roestung{
                    left: 4%;
                    top: 59.5%;
                }

                .mahlung{
                    left: 4%;
                    top: 74.25%;
                }

                .genuss{
                    left: 4%;
                    top: 88.875%;
                }
            }
        }
    }

    #section-shop{
        .divider__shop1{
            width: 30%;
        }

        .empfehlungen{
            flex-direction: column;
            gap: 10px;

            .reg__tile{
                height: auto;

                .empfehlungen__content{
                    height: auto;
                    .item{
                        height: 200px;

                        img{
                            width: 50%;
                        }
                    }

                    .description{
                        max-height: fit-content;
                        opacity: 1;
                    }
                }
            }
        }

        .shop{
            .shop__card{
                padding: 10px;
                width: 100%;

                .card__content{
                    flex-direction: column;

                    .coffee__info{
                        width: 100%;
                        margin-bottom: 10px;

                        .header{
                            font-size: clamp(2rem, 2.5vw, 3rem);
                        }

                        .ingredients{
                            margin-bottom: 10px;
                        }

                        .vertraeglichkeit{
                            margin-bottom: 10px;
                        }
                    }

                    .price{
                        width: 100%;
                        height: 0;
                        display: none;

                    }

                    .cart{
                        width: 100%;

                        .cart__btn{
                            border-radius: 10px;
                        }
                    }

                    .next_item__btn{
                        top: 34%;
                        right: 15%;
                    }

                    .prev_item__btn{
                        top: 35%;
                        left: 15%;
                    }

                    .prev__btn{
                        left: 5px;
                    }

                    .next__btn{
                        right: 5px;
                    }

                    .item__display{
                        height: 65%;

                        img{
                            width: 55vw;
                        } 
                    }
                }
            }

        }
    }

    #section-kundenservice{
        .faq{
            padding: 10px;

            .faq__item{
                padding: 0;

                .faq__answer{
                    padding-right: 10%;
                }
            }
        }
    }
}